<script src="{{ asset('node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

{% set firstView = fsc.views | first %}
{% set model = firstView.model %}
{% set chart = model.getChart() %}

<div class="card shadow mb-4">
    {{ chart.render() | raw }}
</div>

{% if config('debug') %}
    {% for s_name, source in chart.getDataSources() %}
        <div class="card shadow mb-4">
            <div class="card-body">
                <h3 class="h5 mb-0 text-center">{{ s_name }}</h3>
            </div>
            <table class="table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th>{{ trans('x-column') }}</th>
                    <th>{{ trans('y-column') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in source %}
                    <tr>
                        <td>{{ item.xcol }}</td>
                        <td>{{ item.ycol }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endif %}