<script src="{{ asset('node_modules/chart.js/dist/Chart.min.js') }}"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

{% set firstView = fsc.views | first %}
{% set model = firstView.model %}
{% set chart = model.getChart() %}

<div class="card shadow mb-4">
    {{ chart.render() | raw }}
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for s_name, source in chart.getDataSources() %}
        <div class="col">
            <div class="card shadow mb-4">
            <div class="card-body">
                <h3 class="h5 mb-0 text-center">{{ trans(s_name) }}</h3>
            </div>
            <table class="table table-striped table-hover mb-0">
                <thead>
                <tr>
                    <th>{{ trans('x-column') }}</th>
                    <th>{{ trans('y-column') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in source %}
                    <tr>
                        <td>{{ item.xcol }}</td>
                        <td>
                            {% if s_name != 'difference' %}
                                {{ item.ycol }}
                            {% elseif item.ycol > 0 %}
                                <span class="text-success">{{ item.ycol }}</span>
                            {% elseif item.ycol < 0 %}
                                <span class="text-danger">{{ item.ycol }}</span>
                            {% else %}
                                {{ item.ycol }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="table-warning">{{ trans('no-data') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    {% endfor %}
</div>