{% extends "Master/MenuBgTemplate.html.twig" %}

{% set pageData = fsc.getPageData() %}

{% block body %}
    <div class="container-fluid mb-1 d-print-none">
        {{ parent() }}
        <div class="row">
            <div class="col-md-7">
                <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ i18n.trans('refresh') }}">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}?defaultPage=TRUE"
                       title="{{ i18n.trans('ark-as-homepage') }}">
                        <i class="far fa-bookmark" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-5 text-right">
                <h1 class="h4 mb-0 d-none d-md-inline-block">
                    {% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}
                    {{ title }}<i class="{{ fsc.getPageData()['icon'] }} ml-3" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="text-center mb-3">
            <span class="text-success h5">{{ i18n.trans('select-year') }}</span>
            <select class="form-control text-center mx-auto" id="selectYear">
                {{ fsc.loadYears()|raw }}
            </select>
        </div>

        <div class="form-row">
            <div class="col-sm-6">
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'treasury', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            {% if fsc.cajas %}
                                <tr>
                                    <td class="text-center align-middle">{{ _self.trans(i18n, 'boxes', true) }} (570xxx)</td>
                                    <td class="p-0">
                                        <table class="table m-0">
                                            {% for caja in fsc.cajas %}
                                                <tr>
                                                    <td>{{ caja.descripcion }}</td>
                                                    <td class="money">{{ _self.showPrice(fsc, caja.saldo) }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>{{ _self.trans(i18n, 'total-boxes', true) }}</td>
                                                <td class="money">{{ _self.showPrice(fsc, fsc.da_tesoreria['total_cajas']) }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}

                            {% if fsc.bancos %}
                                <tr>
                                    <td class="text-center align-middle">{{ _self.trans(i18n, 'banks', true) }} (572xxx)</td>
                                    <td class="p-0">
                                        <table class="table m-0">
                                            {% for banco in fsc.bancos %}
                                                <tr>
                                                    <td>{{ banco.descripcion }}</td>
                                                    <td class="money">{{ _self.showPrice(fsc, banco.saldo) }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>{{ _self.trans(i18n, 'total-banks', true) }}</td>
                                                <td class="money">{{ _self.showPrice(fsc, fsc.da_tesoreria['total_bancos']) }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class="text-center">{{ _self.trans(i18n, 'total-trasury', true) }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_tesoreria['total_tesoreria']) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'pending-expenses-charges', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tr>
                                <td>(a) {{ i18n.trans('expenses-pending-payment') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['gastospdtepago']) }}</td>
                            </tr>
                            <tr>
                                <td>(b) {{ i18n.trans('customers-pending-collection') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['clientespdtecobro']) }}</td>
                            </tr>
                            <tr>
                                <td>(c) {{ i18n.trans('payroll-pending-payment') }} (465xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['nominaspdtepago']) }}</td>
                            </tr>
                            <tr>
                                <td>(d) {{ i18n.trans('social-secutiry-pending-payment') }} (476xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['segsocialpdtepago']) }}</td>
                            </tr>
                            <tr>
                                <td>(e) {{ i18n.trans('social-security-pending-collection') }} (471xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['segsocialpdtecobro']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ _self.trans(i18n, 'total-expenses-charges-pending', true) }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_gastoscobros['total_gastoscobros']) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'taxes', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tr>
                                <td>{{ _self.trans(i18n, 'irpf', true) }} (4751xxx)
                                    ({{ i18n.trans('payroll-professionals-111') }})
                                </td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['irpf-mod111']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ _self.trans(i18n, 'irpf', true) }} (4751xxx) ({{ i18n.trans('rent-office') }})</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['irpf-mod115']) }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="money"></td>
                            </tr>
                            <tr>
                                <td>(a) {{ i18n.trans('passed-tax') }} (477xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['iva-repercutido']) }}</td>
                            </tr>
                            <tr>
                                <td>(b) {{ i18n.trans('input-tax') }} (472xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['iva-soportado']) }}</td>
                            </tr>
                            <tr>
                                <td>(c) {{ i18n.trans('tax-return-previous-quarters') }} (470xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['iva-devolver']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ _self.trans(i18n, 'result-tax', true) }} (MOD 303)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['resultado_iva-mod303']) }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2">
                                    <strong>{{ _self.trans(i18n, 'current-exercise', true) }}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-sales') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['ventas_totales']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-expenses') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['gastos_totales']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('result') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['resultado']) }}</td>
                            </tr>
                            <tr>
                                <td>(a) {{ i18n.trans('corporate-tax') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['sociedades']) }}</td>
                            </tr>
                            <tr>
                                <td>(b) {{ i18n.trans('payment-previous-periods') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['pago-ant']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('fractional-payment-corporation-tax') }} (MOD 202)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['pagofraccionado-mod202']) }}</td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="2">
                                    <strong>{{ _self.trans(i18n, 'previous-exercise', true) }}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('result') }} (129xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['resultado_ejanterior']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('negative-results-other-excercises') }} (121xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['resultado_negotros']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-result') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['total']) }}</td>
                            </tr>
                            <tr>
                                <td>(a) {{ i18n.trans('corporate-tax') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['sociedades_ant']) }}</td>
                            </tr>
                            <tr>
                                <td>(b) {{ i18n.trans('corporate-tax-advances') }} (4709xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['sociedades_adelantos']) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-pay-return-corporate-tax') }} (MOD 200)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_impuestos['total-mod200']) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'short-situation-results', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <tr>
                                <td>{{ i18n.trans('total') }} ({{ i18n.trans('treasury') }}
                                    + {{ i18n.trans('expenses-charges') }} + MOD 111 + MOD 115 + MOD 303 + MOD 202 +
                                    MOD 200)
                                </td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadosituacion["total"]) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'reserves-results-exercises', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tr>
                                <td>(a) {{ i18n.trans('legal-reserve') }} (112xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_reservasresultados["reservalegal"]) }}</td>
                            </tr>
                            <tr>
                                <td>(b) {{ i18n.trans('voluntary-reserves') }} (113xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_reservasresultados["reservasvoluntarias"]) }}</td>
                            </tr>
                            <tr>
                                <td>(c) {{ i18n.trans('previous-year-result') }} (129xxx + 121xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_reservasresultados["resultadoejercicioanterior"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ _self.trans(i18n, 'total-reservations', true) }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_reservasresultados["total_reservas"]) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <strong>{{ _self.trans(i18n, 'current-year-results', true) }}</strong>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <tr>
                                <td>{{ i18n.trans('total-sales') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["total_ventas"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-spends') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["total_gastos"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ _self.trans(i18n, 'result-exploitation', true) }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["resultadoexplotacion"]) }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="money"></td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('amortization-intangible-assets') }} (680xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["amortizacioninmovintang"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('amortization-intangible-material') }} (681xxx)</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["amortizacioninmovmat"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('total-amortizations') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["total_amort"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('result-before-taxes-rai') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["resultado_antes_impuestos"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('corporate-tax') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["impuesto_sociedades"]) }}</td>
                            </tr>
                            <tr>
                                <td>{{ i18n.trans('result-after-taxes-rdi') }}</td>
                                <td class="money">{{ _self.showPrice(fsc, fsc.da_resultadoejercicioactual["resultado_despues_impuestos"]) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}

    <style>
        #selectYear {
            max-width: 300px;
        }

        .money {
            white-space: nowrap;
            text-align: right;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $(document).on('change', '#selectYear', function () {
                window.location = '{{ fsc.url() }}?code=' + $('#selectYear option:selected').val();
            });
        });
    </script>
{% endblock %}

{% macro showPrice(fsc, price) %}
    {{ fsc.show_precio(price)|raw }}
{% endmacro %}

{% macro trans(i18n, txt, uppercase) %}
    {% if uppercase %}
        {{ i18n.trans(txt)|upper }}
    {% else %}
        {{ i18n.trans(txt) }}
    {% endif %}
{% endmacro %}