{% extends "Master/MenuBgTemplate.html.twig" %}

{% set pageData = fsc.getPageData() %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid mb-1 d-print-none">
        {{ parent() }}
        <div class="row">
            <div class="col-md-7">
                <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ i18n.trans('refresh') }}">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}?defaultPage=TRUE" title="{{ i18n.trans('ark-as-homepage') }}">
                        <i class="far fa-bookmark" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-5 text-right">
                <h1 class="h4 mb-0 d-none d-md-inline-block">
                    {% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}
                    {{ title }}<i class="{{ fsc.getPageData()['icon'] }} ml-3" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3 pl-0 pr-0">
        <div class="text-center">
            <span class="text-success h5">{{ i18n.trans('select-year') }}</span>
            <select class="form-control text-center mx-auto" id="selectYear">
                {{ fsc.loadYears()|raw }}
            </select>
        </div>

        <div class="card mt-4">
            <div class="card-body p-0">
                <div id="summaryData"></div>
            </div>
        </div>

        <div class="card mt-4">
            <h5 class="card-header cursor-pointer" id="showSales">
                <i class="fa fa-plus float-right"></i>
                {{ i18n.trans('sales') }}
            </h5>
            <div id="salesReport" class="collapse">
                <div class="card-body p-0"></div>
            </div>
        </div>

        <div class="card mt-4">
            <h5 class="card-header cursor-pointer" id="showPurchases">
                <i class="fa fa-plus float-right"></i>
                {{ i18n.trans('purchases') }}
            </h5>
            <div id="purchasesReport" class="collapse">
                <div class="card-body p-0"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}

    <style>
        .card-header .fa {
            transition: .3s transform ease-in-out;
        }
        .card-header .collapsed .fa {
            transform: rotate(90deg);
        }
        #selectYear {
            max-width: 300px;
        }
        td.porc, td.total, td.month {
            white-space: nowrap;
        }
        td.title {
            width: 15%;
        }
        .cursor-pointer {
            cursor: pointer;
        }
        table td.hiddenRow {
            padding: 0 !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            function initPage() {
                let formData = new FormData();
                formData.append('action', 'load-summary');
                sendForm(formData);
            }

            function sendForm(formData) {
                formData.append('codejercicio', $('#selectYear option:selected').val());

                console.log(Object.fromEntries(formData));

                fetch('{{ fsc.url() }}', {
                    method: 'POST',
                    body: formData
                }).then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    console.log(data);

                    if (data.summary && data.summary !== '') {
                        $('#summaryData').html(data.summary);
                        $('#salesReport').collapse('hide');
                        $('#purchasesReport').collapse('hide');
                    }

                    if (data.sales && data.sales !== '') {
                        $('#salesReport .card-body').html(data.sales);
                    }

                    if (data.purchases && data.purchases !== '') {
                        $('#purchasesReport .card-body').html(data.purchases);
                    }

                    if (data.family && data.family !== '') {
                        $('#salesReport #ventas-' + data.codfamilia).html(data.family);
                    }

                    if (data.account && data.account !== '') {
                        $('#purchasesReport #gastos-' + data.codcuenta).html(data.account);
                    }

                    if (Array.isArray(data.messages)) {
                        data.messages.forEach(item => alert(item.message));
                    }
                }).catch(function (error) {
                    alert('error');
                    console.warn(error);
                });

                return false;
            }

            $(document).on('change', '#selectYear', function(){
                initPage();
            });

            let salesReport = false;
            let purchasesReport = false;

            $(document).on('click', '#showSales', function(){
                if (salesReport === false) {
                    $('#showSales i').removeClass('fa-plus').addClass('fa-minus');
                    salesReport = true;
                    let formData = new FormData();
                    formData.append('action', 'load-sales');
                    sendForm(formData);
                } else {
                    $('#showSales i').addClass('fa-plus').removeClass('fa-minus');
                    salesReport = false;
                }
                $('#salesReport').collapse('toggle');
            });

            $(document).on('click', '#salesReport tr.ventas', function(){
                if (salesReport) {
                    let formData = new FormData();
                    formData.append('action', 'load-family');
                    formData.append('parent_codfamilia', $(this).attr('codfamilia'));
                    sendForm(formData);
                    $($(this).attr('data-target')).collapse('toggle');
                }
            });

            $(document).on('click', '#showPurchases', function(){
                if (purchasesReport === false) {
                    $('#showPurchases i').removeClass('fa-plus').addClass('fa-minus');
                    purchasesReport = true;
                    let formData = new FormData();
                    formData.append('action', 'load-purchases');
                    sendForm(formData);
                } else {
                    $('#showPurchases i').addClass('fa-plus').removeClass('fa-minus');
                    purchasesReport = false;
                }
                $('#purchasesReport').collapse('toggle');
            });

            $(document).on('click', '#purchasesReport tr.gastos', function(){
                if (purchasesReport) {
                    let formData = new FormData();
                    formData.append('action', 'load-account');
                    formData.append('parent_codcuenta', $(this).attr('codcuenta'));
                    sendForm(formData);
                    $($(this).attr('data-target')).collapse('toggle');
                }
            });

            /*$('#salesReport').on('show.bs.collapse', function () {
                if (salesReport === false) {
                    salesReport = true;
                    let formData = new FormData();
                    formData.append('action', 'load-sales');
                    sendForm(formData);
                } else {
                    console.log('ventas hijo');
                }
            });

            $('#salesReport').on('hidden.bs.collapse', function () {
                if (salesReport) {
                    salesReport = false;
                }
            });

            $('#purchasesReport').on('show.bs.collapse', function () {
                if (purchasesReport === false) {
                    purchasesReport = true;
                    let formData = new FormData();
                    formData.append('action', 'load-purchases');
                    sendForm(formData);
                }
            });

            $('#purchasesReport').on('hidden.bs.collapse', function () {
                if (purchasesReport) {
                    purchasesReport = false;
                }
            });

            $('#purchasesReport div.gastos').on('show.bs.collapse', function () {
                console.log('compras hijo');
            });*/

            initPage();
        });
    </script>
{% endblock %}
