<script src="{{ asset('node_modules/chart.js/dist/Chart.min.js') }}"></script>

{% set lines = fsc.getLines() %}
{% if lines is empty %}
    <div class="alert alert-info">{{ i18n.trans('empty-report-board') }}</div>
{% else %}
    <div class="card shadow">
        <div class="form-row">
            {% for line in lines %}
                {% set report = line.getReport() %}
                <div class="col-md-{{ line.columns }} my-2" style="height: {{ line.height }}px">
                    {{ report.getChart().render() | raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}