{#
* Copyright (C) 2019-2021 Carlos Garcia Gomez <carlos@facturascripts.com>
* Author Daniel Fernández Giménez <hola@danielfg.es>
#}

{% extends "Master/MenuBgTemplate.html.twig" %}

{% set pageData = fsc.getPageData() %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid d-print-none">
        {{ parent() }}
        <div class="row">
            <div class="col-md-7">
                <div class="btn-group">
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}" title="{{ i18n.trans('refresh') }}">
                        <i class="fas fa-redo" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-secondary" href="{{ fsc.url() }}?defaultPage=TRUE"
                       title="{{ i18n.trans('ark-as-homepage') }}">
                        <i class="far fa-bookmark" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-5 text-right">
                <h1 class="h4 mb-0 d-none d-md-inline-block">
                    {% set title = i18n.trans(fsc.getPageData()['title']) | capitalize %}
                    {{ title }}<i class="{{ fsc.getPageData()['icon'] }} ml-3" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <form action="{{ fsc.url() }}" method="post">
            <div class="row">
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('from-date') }}</label>
                    <input type="date" name="desde" class="form-control" value="{{ 'now' | date('Y') }}-01-01">
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('until-date') }}</label>
                    <input type="date" name="hasta" class="form-control" value="{{ 'now' | date('Y') }}-12-31">
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('agent') }}</label>
                    <select name="codagente" class="form-control">
                        {{ fsc.loadAgents()|raw }}
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('serie') }}</label>
                    <select name="codserie" class="form-control">
                        {{ fsc.loadSeries()|raw }}
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('currency') }}</label>
                    <select name="coddivisa" class="form-control">
                        {{ fsc.loadDivisas()|raw }}
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('method-payment') }}</label>
                    <select name="codpago" class="form-control">
                        {{ fsc.loadPayments()|raw }}
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('warehouse') }}</label>
                    <select name="codalmacen" class="form-control">
                        {{ fsc.loadWarehouses()|raw }}
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('status') }}</label>
                    <select name="estado" class="form-control">
                        <option value="">{{ i18n.trans('all') }}</option>
                        <option value="1">{{ i18n.trans('paid') }}</option>
                        <option value="0">{{ i18n.trans('unpaid') }}</option>
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-2">
                    <label>{{ i18n.trans('format') }}</label>
                    <select name="generar" class="form-control">
                        <option value="pdf">{{ i18n.trans('pdf')|upper }}</option>
                        <option value="xls">{{ i18n.trans('xls')|upper }}</option>
                        <option value="csv">{{ i18n.trans('csv')|upper }}</option>
                    </select>
                </div>
            </div>

            <hr class="mt-3 mb-4">

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            {{ i18n.trans('purchase-report') }}
                        </div>
                        <div class="card-body">
                            <p>{{ i18n.trans('purchase-report-legend') }}</p>
                            <div class="form-group">
                                <label>{{ i18n.trans('supplier') }}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="supplier"
                                           placeholder="{{ i18n.trans('any-provider') }}">
                                    <input type="hidden" name="codproveedor" value="">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" onclick="cleanSupplier()">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="purchase-unidades"
                                       id="purchaseUndFalse" value="FALSE" checked>
                                <label class="form-check-label" for="purchaseUndFalse">
                                    {{ i18n.trans('amounts') }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="purchase-unidades"
                                       id="purchaseUndTrue" value="TRUE">
                                <label class="form-check-label" for="purchaseUndTrue">
                                    {{ i18n.trans('units') }}
                                </label>
                            </div>
                            <div class="form-group mt-2">
                                <label>{{ i18n.trans('minimum-amount') }}</label>
                                <input type="number" class="form-control" name="purchase-minimo"
                                       placeholder="{{ i18n.trans('purchase-amounts-units') }}">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-eye mr-2"></i>{{ i18n.trans('show') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            {{ i18n.trans('sale-report') }}
                        </div>
                        <div class="card-body">
                            <p>{{ i18n.trans('sale-report-legend') }}</p>
                            <div class="form-group">
                                <label>{{ i18n.trans('country') }}</label>
                                <select name="codpais" class="form-control" id="countries">
                                    {{ fsc.loadCountries()|raw }}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>{{ i18n.trans('province') }}</label>
                                <select name="provincia" class="form-control" id="provincies"></select>
                            </div>
                            <div class="form-group">
                                <label>{{ i18n.trans('customer') }}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="customer"
                                           placeholder="{{ i18n.trans('any-customer') }}">
                                    <input type="hidden" name="codcliente" value="">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button" onclick="cleanCustomer()">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sale-unidades" id="saleUndFalse"
                                       value="FALSE" checked>
                                <label class="form-check-label" for="saleUndFalse">
                                    {{ i18n.trans('amounts') }}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sale-unidades" id="saleUndTrue"
                                       value="TRUE">
                                <label class="form-check-label" for="saleUndTrue">
                                    {{ i18n.trans('units') }}
                                </label>
                            </div>
                            <div class="form-group mt-2">
                                <label>{{ i18n.trans('minimum-amount') }}</label>
                                <input type="number" class="form-control" name="sale-minimo"
                                       placeholder="{{ i18n.trans('purchase-amounts-units') }}">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-eye mr-2"></i>{{ i18n.trans('show') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>

    <script>
        function cleanCustomer() {
            $('#customer, input[name="codcliente"]').val('')
        }

        function cleanSupplier() {
            $('#supplier, input[name="codproveedor"]').val('')
        }

        function loadProvincies() {
            let formData = {};
            formData["action"] = "load-provincies";
            formData["codpais"] = $("#countries option:selected").val();
            $('#provincies').html('');

            $.ajax({
                method: "POST",
                url: "{{ fsc.url() }}",
                data: formData,
                dataType: "json",
                success: function (results) {
                    $('#provincies').html(results);
                },
                error: function (msg) {
                    alert(msg.status + " " + msg.responseText);
                }
            });
        }

        loadProvincies();

        $(document).ready(function () {
            $('#countries').change(function(){
                loadProvincies();
            });

            $("#customer").autocomplete({
                source: function (request, response) {
                    let formData = {};
                    formData["action"] = "autocomplete-customer";
                    formData["query"] = $("#customer").val();
                    $('input[name="codcliente"]').val('');

                    $.ajax({
                        method: "POST",
                        url: "{{ fsc.url() }}",
                        data: formData,
                        dataType: "json",
                        success: function (results) {
                            let values = [];
                            results.forEach(function (element) {
                                if (element.key === null || element.key === element.value) {
                                    values.push(element);
                                } else {
                                    values.push({key: element.key, value: element.key + " | " + element.value});
                                }
                            });
                            response(values);
                        },
                        error: function (msg) {
                            alert(msg.status + " " + msg.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.key !== null) {
                        $('input[name="codcliente"]').val(ui.item.key);

                        let value = ui.item.value.split(" | ");
                        if (value.length > 1) {
                            ui.item.value = value[1];
                        } else {
                            ui.item.value = value[0];
                        }
                    }
                }
            });

            $("#supplier").autocomplete({
                source: function (request, response) {
                    let formData = {};
                    formData["action"] = "autocomplete-supplier";
                    formData["query"] = $("#supplier").val();
                    $('input[name="codproveedor"]').val('');

                    $.ajax({
                        method: "POST",
                        url: "{{ fsc.url() }}",
                        data: formData,
                        dataType: "json",
                        success: function (results) {
                            let values = [];
                            results.forEach(function (element) {
                                if (element.key === null || element.key === element.value) {
                                    values.push(element);
                                } else {
                                    values.push({key: element.key, value: element.key + " | " + element.value});
                                }
                            });
                            response(values);
                        },
                        error: function (msg) {
                            alert(msg.status + " " + msg.responseText);
                        }
                    });
                },
                select: function (event, ui) {
                    if (ui.item.key !== null) {
                        $('input[name="codproveedor"]').val(ui.item.key);

                        let value = ui.item.value.split(" | ");
                        if (value.length > 1) {
                            ui.item.value = value[1];
                        } else {
                            ui.item.value = value[0];
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
